.footer {
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 100%;
    max-width: 420px;
    height: 52px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 700;

    border: 1px solid #f68229;
    background: #f68229;
    color: #fff;

    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}