:host {
  display: block;
}

.app {
  min-height: 100vh;
  width: 430px;
  margin: 0 auto;
  background: var(--bg);
  overflow-x: hidden;
    border: 1px solid #f7f7f7;
  padding: 0;
}

.app__main {
  padding: 12px 16px 72px;
  border: #F6F6F6;
  size: 1;
}